p,h2{color: Black; } 
h1{color: #FF8C00; } 


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

  position: sticky;
  top: 0;
}
section{
	color: white;
}

li {
  float: left;

}

li a {
  display: block;
  color: whites;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
 
}

li a:hover {
  background-color: #111;
 
}
.background{
 background-image: url(Query.jpg);

  /* Full height */
  height: auto;
  width:auto;

  /* Center and scale the image nicely */
  background-position: center;


 
}

.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

overlay {
  position: fixed; /* Sit on top of the page content*/
  display: none; /* Hidden by default */
  width: 100%; /*Full width (cover the whole page) */
  height: 100%; /*Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /*Black background with opacity*/
  z-index: 2; /*Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.sidenav {
	
 background-color: #555;
  overflow: auto;
  position: fixed;
   width: 200px;
  position: fixed;
  z-index: 1;
  height: 100%;
  right: 10px;
  background: #555;
  overflow-x: hidden;
  padding: 8px 0;

}


/* Style the sidenav links and the dropdown button */
.sidenav a{
text-align: center; 
 padding: 8px 20px 12px 20px;

  text-decoration: none; 
  float: center;
  text-align: center;  
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  height:4%;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
.dropdown-btn {

   padding: 4px 20px 20px 30px;

  text-decoration: none; 
  float: center;
width: 100%; 
  text-align: center;  
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  height:8%;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 80%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: white;
}

/* Add an active class to the active dropdown button */
.sidenav .active {
  background-color: #4CAF50;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.footer {
 
  left: 0;
  bottom: 0;
  width: 100%;
  
  
  text-align: center;
  
}
/* Place the navbar at the bottom of the page, and make it stick */
.bottomnav {
  background-color: #333;
  overflow: hidden;
 
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.bottomnav a {
  float: left;
  color: #f2f2f2;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.bottomnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.bottomnav a.active {
  background-color: #4CAF50;
  color: white;
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}